In [75]:
import pandas as pd
import numpy as np

Cargar datos

In [4]:
# Importamos el dataset de los datos de los pokemon
df = pd.read_csv('dataset_final.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [16]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''
rows = len(df.index)
print(f"Hay {rows} pokémons en el dataset.")

Hay 800 pokémons en el dataset.

In [27]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
poison = df[df['Type 1'] == 'Poison']
qt = len(poison)
print(f"Hay {qt} pokémons tipo Poison (Type 1).")

Hay 28 pokémons tipo Poison (Type 1).

In [33]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
tipos = df.groupby('Type 1')['Name'].count().sort_values(ascending=False)
qt = len(tipos)
print(f"Hay {qt} tipos diferentes de pokémons.")

Hay 18 tipos diferentes de pokémons.

In [53]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
tipos = df.groupby('Type 1')['Name'].count().sort_values(ascending=False)
print(tipos)
'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''
type = df['Type 1'].max()

print(f"\nEl {type} es el tipo de pokémon con más pokémon.")

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Name, dtype: int64

El Water es el tipo de pokémon con más pokémon.

In [78]:
'''
3. ¿Cuál es el pokémon más rápido?
'''
df.sort_values(['Speed'], ascending=[False]).head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True

In [27]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''
#df.sort_values(['Defense'], ascending=[False])
'''
4.1 ¿Cuántos pokemon tiene una defensa superior a 100?
'''
df_filtrado = df[(df['Defense'] > 100)]
df_filtrado.reset_index(drop=True)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
1,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
2,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
3,28,Sandslash,Ground,NaN,450,75,100,110,45,55,65,1,False
4,75,Graveler,Rock,Ground,390,55,95,115,45,45,35,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
119,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
120,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
121,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
122,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [28]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
df_filtrado = df[(df['Defense'] > 100) & (df['Speed'] > 100)]
df_filtrado.reset_index(drop=True)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
1,249,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True
2,373,SalamenceMega Salamence,Dragon,Flying,700,95,145,130,120,90,120,3,False
3,376,MetagrossMega Metagross,Steel,Psychic,700,80,145,150,105,110,110,3,False
4,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True
5,493,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True
6,632,Durant,Bug,Steel,484,58,109,112,48,48,109,5,False
7,638,Cobalion,Steel,Fighting,580,91,90,129,90,72,108,5,True
8,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True

In [30]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
df.sort_values(['Type 1', 'Type 2'], ascending =[True,True])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [187]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
df[(df['Type 1'] == 'Water')|(df['Type 1'] == 'Fire')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble tipo
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,True
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,True
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False,True
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False,True
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,True

In [47]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
df[(df['Legendary'] == True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [71]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''

df.groupby('Legendary')['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed'].mean()

C:\Users\caduf\AppData\Local\Temp\ipykernel_944\2123695370.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('Legendary')['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed'].mean()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Legendary,,,,,,
False,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782
True,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615

In [72]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''
df.groupby('Legendary')['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed'].mean()

C:\Users\caduf\AppData\Local\Temp\ipykernel_944\3453232824.py:10: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('Legendary')['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed'].mean()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Legendary,,,,,,
False,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782
True,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615

In [85]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''
df['Doble tipo'] = np.where(df['Type 2'].isnull(), False, True)
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble tipo
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,True
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,True
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,True
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,True
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,True
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,False

In [99]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''
df[df["Doble tipo"]== True][["Name","Type 1", "Type 2"]].sort_values(by=["Type 1", "Type 2","Name"], ascending = True)

                        Name Type 1    Type 2
657               Galvantula    Bug  Electric
656                   Joltik    Bug  Electric
231                Heracross    Bug  Fighting
232  HeracrossMega Heracross    Bug  Fighting
697                 Larvesta    Bug      Fire
..                       ...    ...       ...
626               Carracosta  Water      Rock
240                  Corsola  Water      Rock
404                Relicanth  Water      Rock
625                 Tirtouga  Water      Rock
440                 Empoleon  Water     Steel

[414 rows x 3 columns]

In [189]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']


# A. Una función que calcule el precio total de la compra
def total_price(bought,list_of_things):
    total_p = 0
    for c in bought:
        total_p += list_of_things[c]
    print(f"El precio total de la compra es: {total_p}")

total_price(compra, articulos)

# B. Una función que calcule el precio total de la compra con un descuento del 10%
def discount_10(bought,list_of_things):
    total_p = 0
    for c in bought:
        total_p += list_of_things[c]
        disc = total_p * 0.10
        new_total = total_p - disc
    print(f"El precio total de la compra con un descuento del 10 % es: {new_total}")

discount_10(compra, articulos)


# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€
def discount_if_more_100(bought, list_of_things):
    total_p = 0
    for c in bought:
        total_p += list_of_things[c]
    if total_p >= 100:
        disc = total_p * 0.10
        new_total = total_p - disc
        print(f"El precio total de la compra con un descuento del 10% porqué la compra supera los 100€: {new_total}")
    else:
        print(f"El precio total de la compra sin descuento: {total_p}")

discount_if_more_100(compra, articulos)

# D. Una función que calcule el precio total aplicando el IVA (21%)

def total_price_vat(bought, list_of_things):
    total_p = 0
    for c in bought:
        total_p += list_of_things[c]
    vat = total_p * 0.21
    new_total = total_p + vat
    print(f"El precio total aplicando el 21% de IVA es: {new_total}")

total_price_vat(compra, articulos)

# E.lista los artículos cuyo precio es superior a 20€

superior_20 = {new_key:new_value for (new_key, new_value) in articulos.items() if new_value > 20}
print(f"Los articulos cuyo precio es superior a 20 € son: {superior_20}")

El precio total de la compra es: 155
El precio total de la compra con un descuento del 10 % es: 139.5
El precio total de la compra con un descuento del 10% porqué la compra supera los 100€: 139.5
El precio total aplicando el 21% de IVA es: 187.55
Los articulos cuyo precio es superior a 20 € son: {'Pantalón': 30, 'Zapatos': 50, 'Gafas': 25, 'Reloj': 35, 'Corbata': 40}

In [186]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]


def curso_alumnos_promedio(curso):
    lista_promedio = []
    promedio = 0.0
    suma = 0
    for alumno in alumnos:
        for c in alumno[2]:
            if c == curso:
                for nota in alumno[3]:
                    suma += nota
                promedio = suma / len(alumno[3])
                lista_promedio.append((alumno[0], alumno[1], promedio))
                suma = 0
    return lista_promedio

curso_alumnos_promedio("2")

[('Ana', 'García', 7.0),
 ('María', 'Martínez', 7.0),
 ('Lucía', 'Hernández', 7.0),
 ('Sara', 'Díaz', 7.0),
 ('Miguel', 'Fernández', 7.0),
 ('Sandra', 'Ruiz', 7.0),
 ('María', 'Gómez', 7.0)]